/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* homepage */
.home{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px
}
.home1{
  display: block;
}
.apt-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.apt-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.apt-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

input{
  display: block;
}

/* forms */
input {
  display: block;
}
input, select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.login .submit, .signup .submit, .other-forms .submit {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.login a, .signup a{
  text-decoration: none;
}
.login .cancel, .signup .cancel {
  border: 0;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.other-forms .cancel{
  border: 10;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* requests page */
.request-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px
}
.requests-page1{
  display: block;
}
.request-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.request-details h3{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.request-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.request-details .status{
  color: var(--error);
}
.request-details button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

textarea{
  display: block;
  width: 100%;
  height: 6em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* aptdetail page */
.aptdetail-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px
}
.aptdetail-page1{
  display: block;
}

/* realestates(admins) page */
.admindetail-page{
  display: block;
}
.admin-details{
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  text-align: center;
}
.admin-details h4{
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.admin-details p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.admin-details button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.links {
  cursor: pointer;
}

/* user-profile page */
.profile-page{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px
}